@font-face {
	font-family: "Fixedsys Excelsior";
	src: url(fsex302.ttf); /* Source: https://github.com/kika/fixedsys */
}
body {
	background-color: black;
	color: green;
	font-family: "Fixedsys Excelsior", "Lucida Typewriter", monospace;
	font-size: 2em;
}
a {
	color: #2ddb27;
}